.navbar-nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.navbar .btn-login {
    margin-left: auto;
}


@media (max-width: 991px) {
    .navbar-nav {
        position: static;
        transform: none;
        left: auto;
        top: auto;
        margin: 0 auto;
    }

    .navbar .btn-login {
        margin-left: 0;
        width: 100%;
    }
}

.carousel-item img {
  height: 80vh; /* altura agradável para desktop */
  object-fit: cover; /* garante que a imagem preencha o espaço */
}

.carousel-caption {
  bottom: 0;
  top: 0;
  padding-bottom: 3rem;
  text-align: center;
 
}

.carousel-caption p{
    max-width: 300px;
  }

@media (max-width: 768px) {
  .carousel-item img {
    height: 60vh;
  }
  .carousel-caption h2 {
    font-size: 1.5rem;
  }
  .carousel-caption p {
    font-size: 0.9rem;
  }
}
