.navbar-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar .btn-login {
  margin-left: auto;
}

@media (max-width: 991px) {
  .navbar-nav {
    position: static;
    transform: none;
    left: auto;
    top: auto;
    margin: 0 auto;
  }

  .navbar .btn-login {
    margin-left: 0;
    width: 100%;
  }
}

.carousel-item img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.carousel-caption {
  position: absolute;
  z-index: 2;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); 
  z-index: 1;
}

.carousel-caption h3 {
  font-size: medium;
}

.carousel-caption p {
  max-width: 300px;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 60vh;
  }

  .carousel-caption h2 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }
}

.navbar {
  position: relative;
  z-index: 1050;
}

.carousel,
.carousel-item,
.carousel-overlay {
  z-index: 1;
}


.texto-mobile {
  display: none;
}

@media (max-width: 600px) {
  .texto-desktop {
    display: none;
  }
  .texto-mobile {
    display: block;
  }
}