.carousel-item img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.carousel-caption {
  position: absolute;
  z-index: 2;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); 
  z-index: 1;
}

.carousel-caption h3 {
  font-size: medium;
}

.carousel-caption p {
  max-width: 300px;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 60vh;
  }

  .carousel-caption h2 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }
}

.carousel,
.carousel-item,
.carousel-overlay {
  z-index: 1;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}