.navbar-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar .btn-login {
  margin-left: auto;
}

@media (max-width: 991px) {
  .navbar-nav {
    position: static;
    transform: none;
    left: auto;
    top: auto;
    margin: 0 auto;
  }

  .navbar .btn-login {
    margin-left: 0;
    width: 100%;
  }
}

.navbar {
  position: relative;
  z-index: 1050;
}

.texto-mobile {
  display: none;
}

@media (max-width: 600px) {
  .texto-desktop {
    display: none;
  }
  .texto-mobile {
    display: block;
  }
}